 body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 main {
   flex: 1 0 auto;
 }

 .overlay {
   height: 100%;
   width: 100%;
   display: none;
   position: fixed;
   z-index: 100;
   top: 0;
   left: 0;
   background-color: rgb(0, 0, 0);
   background-color: rgba(0, 0, 0, 0.9);
 }

 .overlay-content {
   position: relative;
   top: 14%;
   width: 100%;
   text-align: center;
 }

 .overlay a {
   padding: 8px;
   text-decoration: none;
   font-size: 36px;
   color: #818181;
   display: block;
   transition: 0.3s;
 }

 .overlay a:hover, .overlay a:focus {
   color: #f1f1f1;
 }

 .overlay .closebtn {
   position: absolute;
   top: 20px;
   right: 45px;
   font-size: 60px;
 }

 @media screen and (max-height: 450px) {
   .overlay a {
     font-size: 20px
   }
   .overlay .closebtn {
     font-size: 40px;
     top: 15px;
     right: 35px;
   }
 }

 .ver {
   border-left: 0.1em solid #dddd;
   height: 500px;
   position: absolute;
   left: 50%;
   margin-left: -3px;
   top: 0;
 }

 .formrow {
   height: 19%;
 }
