{% extends "base.html" %}

{% block content0 %}

<div class = "container">

	<div class = "row s6">
		<h1>Your booking is confirmed. The God is happy.</h1>
	</div>

	<section style="margin:3em;">
		<div class = "container section" style="font-family:Roboto light; color: #00e7ae; background-color: #303c42; text-align: center;">
			<h5>Given below are the booking details.</h5>
			<div class = "row">
				<!--Need to pass the required info here-->
				<h6>Venue Type:</h6>
				<h6>Venue:</h6>
				<h6>Date:</h6>
				<h6>Start time:</h6>
				<h6>End time:</h6>
				
			</div>
		</div>
	</section>

</div>

{% endblock %}
