{% extends "base.html" %} {% block content0 %}

<div class="container">

		<section style="margin:3em;">
		<div class="container section" style="font-family:Roboto light; color: #00e7ae; background-color: #303c42; text-align: center;">
			<h5 style="margin-bottom:1em;">Booking confirmed</h5>
			<hr style="background-color:#00e7ae;color:#00e7ae;border-color: #00e7ae;">
			<div class="row">
				<!--Need to pass the required info here-->
				<h6>Event Name:</h6>{{ event.name }}<br>
				<h6>Event Description:</h6>{{ event.description }}<br>
				<h6>Event Tags:</h6>{{ event.tags }}<br>
				<h6>Venue Type:</h6> {{ venue.type }}<br>
				<h6>Venue:</h6> {{ venue.name }}<br>
				<h6>Date:</h6> {{ event.date }}<br>
				<h6>Start time:</h6> {{ event.start_time }}<br>
				<h6>End time:</h6> {{ event.end_time }}<br>
				<h6>Event Type:</h6>{{ event.type }}<br>
				<h6>Event Creator:</h6>{{ event.creator }}<br>
			</div>
		</div>
		<button class="btn waves-effect waves-light" href="{{ url_for('invite', username=current_user.username, event_id=event.id) }}" name="action">Send invites
		</button>
	</section>

</div>

{% endblock %}
