{% extends "base.html" %} {% block content0 %}

<div class="container" style="width:56%;">
<div class="card">
<div class="card-image" style="background-color:#03a9f4;">
    <div class="row">
        <h5 style="color:white;padding:24px;" class="center-align">Provide more details</h5>
    </div>
</div>

<div class="card-content">
	<form id="form" action="{{ url_for('confirm', username=current_user.username) }}" name="forms" onsubmit="return validateF()" method="post">
		<div class="row">
			<p style="color: black;">Select Venue<font color="red">*</font>:</p>
			<div class="input-field col s12 m6">
				<select name="venue" id="select">
					      <option value="" disabled selected>Choose your option</option>
					      {% for venue in venues %}
						  	<option value="{{ venue.id }}">{{ venue.name }}</option>
						  {% endfor %}
				</select>
				<span style="color: red;" id="venuerror"></span>
			</div>
		</div>

		<div class="row">
			<p>Event Type: </p>
			<p>
				<label>
			 <input name="eventype" type="radio" checked />
			 <span style="color:black;">Public</span>
		 </label>
			</p>
			<p>
				<label>
					 <input name="eventype" type="radio" />
					 <span style="color:black;">Private</span>
		 	  </label>
			</p>
		</div>

		<div class="row">
			<p>
				Enter event name
				<font color="red">*</font>: <input name="name" type="text" id="eventname">
			</p>

			<span style="color: red;" id="eventnamerror"></span>
		</div>

		<div class="row">
			<p>
				Enter event description(optional): <input name="description" type="text">
			</p>
		</div>

		<div class="row">
			<p>
				Enter Hashtags for the event:
				<div class="chips chips-placeholder">
		     <input class="custom-class" id="hash" name="hashtag">
		   </div>
			 <span style="color: red;" id="hasherror"></span>
			</p>
		</div>

		<button class="btn waves-effect waves-light" type="submit" name="action">Submit
		   				<i class="material-icons right">send</i>
		</button>

	</form>
</div>
</div>
</div>
<script>
	$(document).ready(function() {
		$('select').formSelect();
		$('.chips-placeholder').chips({
	 placeholder: 'Add hashtags!',
	 secondaryPlaceholder: 'Add more!',
 });
	});
</script>

<script>

$('#form').submit(function() {
	var value = $.trim($('#select').val());
	var f1 = 0;
	var f2 = 0;
	var f0 = 0;
	var instance = M.Chips.getInstance($('.chips-placeholder'));
	tags=[];
	var word;
	for(i=0;i<instance.chipsData.length;i++)
	{
		word = instance.chipsData[i].tag;
		if(word.charAt(0) != "#")
		{
			f0 = 1;
			$("#hasherror").text("Please put a '#' before the tag you want to add");
			break;
		}
		else{
			f0 = 0;
			tags[i]=instance.chipsData[i].tag;
		}
	}
	if (value === '') {
		$("#venuerror").text("Invalid field value");
		f1 = 1;
	} else {
		$("#venuerror").text("");
		f1 = 0;
	}

	value = $.trim($('#eventname').val());

	if (value === '') {
		$("#eventnamerror").text("Invalid field value");
		f2 = 1;
	} else {
		$("#eventnamerror").text("");
		f2 = 0;
	}

	if (f0 == 1 || f1 == 1 || f2 == 1) {
		return false;
	}
	else{
		$('input[name="hashtag"]').val(tags);
		return true;
	}
});
</script>

{% endblock %}
