{% extends "base.html" %} {% block content0 %}

<ul class="tabs tabs-fixed-width tab-demo z-depth-1" style="background-color:cadetblue;">
  <li class="tab"><a href="#PublicEvents" class="active" style="color:white;">Public Events</a></li>
  <li class="tab"><a href="#PrivateEvents" style="color:white;">Private Events</a></li>
  <li class="tab"><a href="#Pending" style="color:white;">Pending Invitations</a></li>
</ul>
<!--Public Events-->
<div class="container" id="PublicEvents">

<h5 class="center-align"> Public Events</h5>
{% for event in public_events %}
  {% if loop.index0%2 == 0 %}
  <div class="row">
    {% endif %}
    <div class="col s12 m6">
      <div id="{{ event.id }}" class="card hoverable blue-grey darken-1">
        <a href = "{{ url_for('confirm', username=current_user.username, event_id=event.id) }}">
          <div class="card-content white-text">
            <span class="card-title">{{ event.name }}</span>
              <p> Venue: {{ event.venue }} <br> Date: {{event.date}} <br> Start time: {{ event.start_time }} <br> End time: {{ event.end_time }} <br> Creator: {{ event.creator}}
              </p>

          </div>
        </a>
        {% if event.creator == current_user.username %}
        <div class="card-action">
          <form action="{{ url_for('events',username=current_user.username) }}" method="post">
              <input class="btn waves-effect waves-light" type="submit" name="action" value="delete" style="color:white;"/>
              <input name="event" value="{{ event.id }}" type="hidden">
          </form>
        </div>
        {% endif %}
      </div>
    </div>
    {% if loop.index0%2 == 1 or loop.index0 == public_events|length - 1 %}
    </div>
    {% endif %}
  {% endfor %}
</div>


<!--Private Events-->
<div class="container" id="PrivateEvents">

<h5 class="center-align"> Private Events</h5>
{% for event in private_events %}
  {% if loop.index0%2 == 0 %}
  <div class="row">
    {% endif %}
    <div class="col s12 m6">
      <div id="{{ event.id }}" class="card hoverable blue-grey darken-1">
        <a href = "#">
          <div class="card-content white-text">
            <span class="card-title">{{ event.name }}</span>
               <p> Venue: {{ event.venue }} <br> Date: {{event.date}} <br> Start time: {{ event.start_time }} <br> End time: {{ event.end_time }}
              </p>

          </div>
        </a><!--
        <div class="card-action">
          <a href="{{ url_for('invite', username=current_user.username, event_id=event.id) }}">Invite People</a>-->

          <!-- if event.creator == current_user.username --> <!--
            <a href="{{ url_for('events',username=current_user.username)}}" class="left-align">Delete</a>-->
          <!-- endif --> <!--
        </div> -->
        <div class="card-action">
          <a href="{{ url_for('invite', username=current_user.username, event_id=event.id) }}">Invite People</a>
            <form action="{{ url_for('events',username=current_user.username) }}" method="post">
                <input class="btn waves-effect waves-light" type="submit" name="action" value="delete" style="color:white;"/>
                <input name="event" value="{{ event.id }}" type="hidden">
            </form>
                <!--change href to confirm.html-->
        </div>
      </div>
    </div>
    {% if loop.index0%2 == 1 or loop.index0 == private_events|length - 1 %}
    </div>
    {% endif %}
  {% endfor %}
</div>


<!--Pending Invitations-->

<div class="container" id="Pending">

<h5 class="center-align"> Pending Invitations</h5>
{% for event in invitations %}
  {% if loop.index0%2 == 0 %}
  <div class="row">
    {% endif %}
    <div class="col s12 m6">
      <div id="{{ event.id }}" class="card hoverable blue-grey darken-1">
        <a href = "#">
          <div class="card-content white-text">
            <span class="card-title">{{ event.name }}</span>
              <p>Venue: {{ event.venue }} <br> Date: {{event.date}} <br> Start time: {{ event.start_time }} <br> End time: {{ event.end_time }}
              </p>

          </div>
        </a>
        <div class="card-action">
            <form action="{{ url_for('events',username=current_user.username) }}" method="post">
                <input class="btn waves-effect waves-light" type="submit" name="action" value="accept" style="color:white;"/>
                <input class="btn waves-effect waves-light" type="submit" name="action" value="decline" style="color:white;"/>
                <input name="event" value="{{ event.id }}" type="hidden">
                <input name="invitee" value="{{ invitee_id }}" type="hidden">
            </form>
                <!--change href to confirm.html-->
        </div>
      </div>
    </div>
    {% if loop.index0%2 == 1 or loop.index0 == invitations|length-1 %}
    </div>
    {% endif %}
  {% endfor %}
</div>


<script>
  $(document).ready(function() {
    $('.tabs').tabs();
    M.toast({html: 'Click on the card to get confirmation receipt!', classes: 'rounded tosts'});
    $('.tosts').css({"background-color":"yellow","color":"black"});
    $('.indicator').css({"background-color":"yellow"});
  });
</script>

{% endblock%}
