{% extends "base.html" %} {% block content0 %}

<h2>Booking Form (2nd stage)</h2>

<div class="container">
	<h4>Venue Type & Event Type</h4>
	<form action="{{ url_for('confirm', username=current_user.username) }}" method="post">
		<div class="row">
			<div class="input-field col s12 m6">
				<select name="venue" id="select">
					      <option value="" disabled selected>Choose your option</option>
					      {% for venue in venues %}
						  	<option value="{{ venue.id }}">{{ venue.name }}</option>
						  {% endfor %}
					    </select>
				<label style="color: black;">Select Venue<font color="red">*</font></label>
				<span style="color: red;" id="venuerror"></span>
			</div>
		</div>

		<div class="row">
			<p>
				<label>
			 <input name="eventype" type="radio" checked />
			 <span style="color:black;">Public</span>
		 </label>
			</p>
			<p>
				<label>
					 <input name="eventype" type="radio" />
					 <span style="color:black;">Private</span>
		 	  </label>
			</p>
		</div>

		<div class="row">
			<p>
				Enter event name
				<font color="red">*</font>: <input name="name" type="text" id="eventname">
			</p>

			<span style="color: red;" id="eventnamerror"></span>
		</div>

		<div class="row">
			<p>
				Enter event description(optional): <input name="description" type="text">
			</p>
		</div>

		<div class="row">
			<p>
				Enter Hashtags for the event:
				<div class="chips chips-placeholder">
		     <input class="custom-class" name="hashtag">
		   </div>
			</p>
		</div>

		<button class="btn waves-effect waves-light" type="submit" name="action">Submit
		   				<i class="material-icons right">send</i>
		</button>

	</form>
</div>

<script>
	$(document).ready(function() {
		$('select').formSelect();
		$('.chips-placeholder').chips({
	 placeholder: 'Add hashtags!',
	 secondaryPlaceholder: 'Add more!',
 });
	});
</script>

<script>
	$('form').submit(function() {

		var value = $.trim($('#select').val());
		var f1 = 0;
		var f2 = 0;
		if (value === '') {
			$("#venuerror").text("Invalid field value");
			f1 = 1;
		} else {
			$("#venuerror").text("");
			f1 = 0;
		}

		value = $.trim($('#eventname').val());

		if (value === '') {
			$("#eventnamerror").text("Invalid field value");
			f2 = 1;
		} else {
			$("#eventnamerror").text("");
			f2 = 0;
		}

		if (f1 == 1 || f2 == 1) {
			return false;
		}
	});
</script>

{% endblock %}
