 {% extends "base.html" %} {% block content0 %}
<!--Main Content-->
<div class="container">

  <div class="row">
    <h3 style="text-align: center">VENUE BOOKING</h3>
    <h5 style="text-align: center">Public Events</h3>
  </div>


  <!--for event in events-->
    <!--if event number%3 ==0-->
      <div class="row">
    <div class="col s4">

      <div class="card hoverable blue-grey darken-1">
        <div class="card-content cyan-text text-accent-3">
          <span class="card-title center">Event Name<!--event.name--></span>

          <ul>
            <li>Event Date:<!--event.date--></li><br><br>
            <li>Event Start Time:<!--event.start_time--></li><br><br>
            <li>Event End Time:<!--event.end_time--></li><br><br>
            <li>Event Venue:<!--event.venue--></li><br><br>
            <li>Event Creator:<!--inviter--></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Scripts-->

<script>
  function openoverlay() {
    document.getElementById("Log").style.display = "block";
  }

  function exitoverlay() {
    document.getElementById("Log").style.display = "none";
  }
</script>

{% endblock %}
