{% extends "base.html" %} {% block content0 %}

<p>Search results for '{{ string }}'</p>

<div class="container">
<div class="row">
{% for res in results %}
    <div class="col s12 m6">
      <div id="{{ res.id }}" class="card hoverable blue-grey darken-1">
        <a href = "{{ url_for('confirm', username=current_user.username, event_id=res.id) }}">
          <div class="card-content white-text">
            <span class="card-title">{{ res.name }}</span>
              <p>Event type: {{ res.type }} <br> Venue type: {{ res.venue }} <br> Date: {{ res.date }} <br> Start time: {{ res.start_time }} <br> End time: {{ res.end_time }}
              </p>
          </div>
        </a>
        {% if res.creator == current_user.username %}
        <div class="card-action">
          <form action="{{ url_for('events',username=current_user.username) }}" method="post">
              <input class="btn waves-effect waves-light" type="submit" name="action" value="delete" style="color:white;"/>
              <input name="event" value="{{ res.id }}" type="hidden">
          </form>
        </div>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>
</div>

{% endblock %}
