{% extends "base.html" %} {% block content0 %}

<p>Search results for </p>      <!--'{{give search string}}'-->

<!--<div class="row">
for res in range(results|length) }
    <div class="col s12 m6">
      <div id="{ results[res].id }" class="card hoverable blue-grey darken-1">
        <a href = "#">
          <div class="card-content white-text">
            <span class="card-title">{results[res].name }</span>
              <p>Event type: { results[res].type } <br> Venue type: { results[res].venue } <br> Date: {results[res].date} <br> Start time: { results[res].start_time } <br> End time: { results[res].end_time }
              </p>
          </div>
        </a>
        if event.creator == current_user.username
        <div class="card-action">
            <a href="{{ url_for('events',username=current_user.username)}}" class="left-align">Delete</a>
        { endif }
        </div>
      </div>
    </div>
    { endif }
  { endfor }
</div>
-->
{% endblock %}
